@page "/"

<PageTitle>Index</PageTitle>

        <!-- Header -->


            <section id="banner">
                <header>
                    <h2>Hi. You're looking at <strong>Go Stark TV</strong>.</h2>
                    <p>
                        <!-- A (free) responsive site template by <a href="http://html5up.net">HTML5 UP</a>.
                        Built with HTML5/CSS3 and released under the <a href="http://html5up.net/license">CCA</a> license. -->
                    </p>
                </header>
            </section>
            @* <section class="carousel">
                <div class="reel">
                @foreach (var article in articles)
                {
                    <article>
                        <a href="@article.LinkUrl" class="image featured"><img src="@article.ImageUrl" alt="" />YT</a>
                        <header>
                            <h3><a href="@article.LinkUrl">@article.Title</a></h3>
                        </header>
                        <p>@article.Description</p>
                    </article>
                }
  
                </div>
            </section> *@
                            @foreach (var article in articles)
                {
            				<div class="wrapper style2">

					<article id="main" class="container special">
						<a href="#" class="image featured"><img src="@article.ImageUrl" alt="" /></a>
						<header>
							<h2><a href="#">@article.Title</a></h2>
							<p>
								@article.Description
							</p>
						</header>

						<footer>
							<a href="#" class="button">View On YouTube</a>
						</footer>
					</article>

				</div>
                }
@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
    private List<Article> articles = new List<Article>
    {
        new Article { Title = "Pulvinar sagittis congue", Description = "Commodo id natoque malesuada sollicitudin elit suscipit magna.", ImageUrl = "images/CUENCA.png", LinkUrl = "#" },
        new Article { Title = "Fermentum sagittis proin", Description = "Commodo id natoque malesuada sollicitudin elit suscipit magna.", ImageUrl = "images/Avila.png", LinkUrl = "#"  },
        new Article { Title = "Sed quis rhoncus placerat", Description = "Commodo id natoque malesuada sollicitudin elit suscipit magna.", ImageUrl = "images/Gothic.png", LinkUrl = "#"  },
        new Article { Title = "Ultrices urna sit lobortis", Description = "Commodo id natoque malesuada sollicitudin elit suscipit magna.", ImageUrl = "images/MadridFood.png", LinkUrl = "#"  },
        new Article { Title = "Varius magnis sollicitudin", Description = "Commodo id natoque malesuada sollicitudin elit suscipit magna.", ImageUrl = "images/MADRID12Min.png", LinkUrl = "#"  }
    };

    public class Article
    {
        public string Title { get; set; }
        public string Description { get; set; }
        public string ImageUrl { get; set; }
        public string LinkUrl { get; set; }
    }
}            